.skills {
    width: 100%;
    height: 700px;
}
.skills__content {
    width: 70%;
    height: 60vh;
    margin: 0 auto;
    padding: 30px;
    overflow: hidden;
    background-color: #242424;
    border: white 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}
.skills__tech {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
}
.skills__tools {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
}
.skills__title {
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 0;
    text-align: center;
}
.skills__subtitle {
    border-bottom: white 2px solid;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-container img {
    max-width: 75px;
    max-height: 75px;
    margin: 10px;
}