* {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #101010;
  height: 100%;
}

#root {
  height: 100%;
}